app-adds{

    height:30% ;
    
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 2%;
    color: white;
    
}

app-birthdays{

    height:25% ;
    color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 2%;
    gap: 1em;
}

app-contacts{

    height:40% ;
    color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 2%;
    justify-content: space-between;
}