.proIcon{

    display: flex;
    flex-direction: row;
    gap: 1em;
    
}

button{

    height: 15%;
    background-color: #333333;
    border-radius: 5px;
    border: none;
    color: white;
}

select{
    color: white;
    background-color: transparent;
    border: none;
}