<!--

<h4>ShortCuts</h4>
<div class="proIcon"><img src="../../assets/den.png" alt="img"><div>Undiscovered Eats</div></div>
<div class="proIcon"><img src="../../assets/eric.png" alt="img"><div>Weekend Trips</div></div>
<div class="proIcon"><img src="../../assets/cynthia2.png" alt="img"><div>jaspers Market</div></div>
<div class="proIcon"><img src="../../assets/betty2.png" alt="img"><div>Red Table Talk Group</div></div>
<div class="proIcon"><img src="../../assets/tina.png" alt="img"><div>Best Hidden Hikking Tips</div></div>
-->


<div class="proIcon">
    <div><img src="../../assets/den.png" alt="img"class="me"></div>
    <div>Dennis Han</div>
</div>

<div class="proIcon">
    <div><img src="../../assets/eric.png" alt="img"class="me"></div>
    <div>Eric Jones</div>
</div>

<div class="proIcon">
    <div><img src="../../assets/cynthia2.png" alt="img"class="me"></div>
    <div>Cynthia </div>
</div>

<div class="proIcon">
    <div><img src="../../assets/betty2.png" alt="img"class="me"></div>
    <div>betty Curter</div>
</div>

<div class="proIcon">
    <div><img src="../../assets/tina.png" alt="img"class="me"></div>
    <div>Tina Lim</div>
</div>