.inputParagraphp{

    height: 80%;
    width: 90%;
    background-color: grey;
    
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

input{

    width: 90%;
    background-color: transparent;
    border: none;
    color: black;
}