<h3>Sponsored</h3>

<div class="pizzaBlock">
    <img src="../../assets/smallPizza.png" class="smallPiza">
    <div class="bigPizza">

       <div><span>Lebo`s Pizza</span><br>
        <span>Experience the trandy Pizza sport<br>
        Albito being called the Next big thing</span></div>
        <img  src="../../assets/piza.png">
        
    </div>
    



</div>
<!--
<div class="pizza"><img src="" alt="Lebo's Pizza"><br>experience thetrendy pizza spot in Palio<br>
Alit being Called the next big thing.</div>
<img src="../../assets/piza.png" alt="img">

-->