<!--

<div class="proIcon"><div class="img"><img src="../../assets/me.jpg" alt="img"class="me"></div><div>Tshepo Mafora</div></div>
<div class="proIcon"><div class="img"><img src="../../assets/icons8-laptop-play-video-24.png" alt="img"></div><div>Watch</div></div>
<div class="proIcon"><img src="../../assets/Events.png" alt="img"><div>Events</div></div>
<div class="proIcon"><img src="../../assets/friends.png" alt="img"><div>Friends</div></div>
<div class="proIcon"><img src="../../assets/memories.png"><div>Memories</div></div>
<button>See More<select></select></button>
<hr>
-->

<div class="proIcon">
    <div><img src="../../assets/me.jpg" alt="img"class="me"></div>
    <div>lkdkddldll;d</div>
</div>

<div class="proIcon">
    <div><img src="../../assets/icons8-laptop-play-video-24.png" alt="img"class="me"></div>
    <div>lkdkddldll;d</div>
</div>

<div class="proIcon">
    <div><img src="../../assets/Events.png" alt="img"class="me"></div>
    <div>lkdkddldll;d</div>
</div>

<div class="proIcon">
    <div><img src="../../assets/friends.png" alt="img"class="me"></div>
    <div>lkdkddldll;d</div>
</div>

<div class="proIcon">
    <div><img src="../../assets/memories.png" alt="img"class="me"></div>
    <div>lkdkddldll;d</div>
</div>


<button>See More<select></select></button>

<hr>