input{

    width: 100%;
    border-radius: 20px;
    background-color: grey;
    border: none;
}

.imgAndInput{

    display: flex;
}

.btnMsgs{

    display: flex;
    justify-content: space-between;
}